# Foreign Student Mental Health ML

This project uses machine learning techniques to learn about influences on mental health of international and domestic students at Ritsumeikan Asia Pacific University in Japan and aims to build a model to predict students at risk of mental health issues such as depression and suicidal ideation.

## Notebook WIP Notes
This cell contains notes and todos on the progress of this project for reference purposes, and is intended for deletion when the notebook is complete.

**Progress Outside of Notebook**
* Codebook Excel corrected so that it is consistent with the actual data, by using value_counts to observe actual values of cat cols.

**TODO (non-immediate):**
* Add a link to the readme and the top of this notebook for downloading the actual data (to show I didn't edit it)

## 1. Imports and Configuration

In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib.pyplot as plt
import seaborn as sns

# ML imports
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score, cross_val_predict
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet, LogisticRegression
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn.metrics import (
    r2_score,
    mean_squared_error,
    mean_absolute_error,
    roc_auc_score,
    precision_recall_curve,
    auc,
)

from sklearn.inspection import permutation_importance
import xgboost as xgb
import shap

# Other
from statsmodels.stats.outliers_influence import variance_inflation_factor
import statsmodels.api as sm

RANDOM_STATE = 42
np.random.seed(RANDOM_STATE)

# File paths
DATA_PATH = Path("../data/data.csv")
CODEBOOK_PATH = Path("../data/feature_target_explanations.xlsx")

# Toggles
INCLUDE_FSCORE2 = False  # set True to include feature-score == 2 variables
# FLAGGING FOR LATER: Consider removing
SHAP_SAMPLE_N = 300  # sample size for SHAP
SHAP_TOP_K = 5  # how many top features to explain with SHAP

## 2. Data Prep and Cleaning

### Quick file existence check and preview

In [2]:
print("Data exists:", DATA_PATH.exists())
print("Codebook exists:", CODEBOOK_PATH.exists())

data = pd.read_csv(DATA_PATH)
print("Data shape:", data.shape)
display(data.head())

Data exists: True
Codebook exists: True
Data shape: (268, 50)

,inter_dom,Region,Gender,Academic,Age,Age_cate,Stay,Stay_Cate,Japanese,Japanese_cate,...,Friends_bi,Parents_bi,Relative_bi,Professional_bi,Phone_bi,Doctor_bi,religion_bi,Alone_bi,Others_bi,Internet_bi
0,Inter,SEA,Male,Grad,24,4,5,Long,3,Average,...,Yes,Yes,No,No,No,No,No,No,No,No
1,Inter,SEA,Male,Grad,28,5,1,Short,4,High,...,Yes,Yes,No,No,No,No,No,No,No,No
2,Inter,SEA,Male,Grad,25,4,6,Long,4,High,...,No,No,No,No,No,No,No,No,No,No
3,Inter,EA,Female,Grad,29,5,1,Short,2,Low,...,Yes,Yes,Yes,Yes,No,No,No,No,No,No
4,Inter,EA,Female,Grad,28,5,1,Short,1,Low,...,Yes,Yes,No,Yes,No,Yes,Yes,No,No,No

### Load codebook and inspect - is this necessary?

In [3]:
cb_numeric = pd.read_excel(CODEBOOK_PATH, sheet_name="numeric_variables")
cb_categorical = pd.read_excel(CODEBOOK_PATH, sheet_name="cat_variables")
display(cb_numeric.head())
display(cb_categorical.head())

,Coded Name,Feature Score,Target Score,Filter Score,Explanation,Unit,Mean,Min,Max,Standard Deviation
0,Age,3,0,2,Current age of students,Year,20.87,17,31,2.77
1,Stay,3,0,2,How long they have been in the university,Year,2.15,1,10,1.33
2,Japanese,3,0,2,Self-evaluation scale ranging from 1 to 5 rega...,Count,3.10,1,5,1.31
3,English,3,0,2,Self-evaluation scale ranging from 1 to 5 rega...,Count,3.65,1,5,0.88
4,ToDep,0,3,1,Total score of depression measured by PHQ-9,Count,8.19,0,25,4.95

,Coded Name,Numeric Version Exists,Feature Score,Target Score,Filter Score,Explanation,Possible Values
0,inter_dom,N,3,0,3,Types of students: International student (Inte...,"Inter, Dom"
1,Region,N,1,0,2,Regions where students originally come from: J...,"JAP, EA, SA, SEA, Others"
2,Gender,N,3,0,1,Gender of students: Male or Female,"Male, Female"
3,Academic,N,3,0,1,The current academic level of students: Underg...,"Under, Grad"
4,Age_cate,Y,3,0,1,The age group of students at time of taking th...,"1, 2, 3, 4, 5"

### Clean variable names

In [4]:
def clean_up(input: pd.Index | pd.Series) -> pd.Index | pd.Series:
    """Cleans by stripping whitespace, converting to lowercase,
    and replacing spaces with underscores."""
    return input.str.strip().str.lower().str.replace(" ", "_", regex=False)


# Clean columns in data
data.columns = clean_up(data.columns)

# Clean columns in codebook
cb_numeric.columns = clean_up(cb_numeric.columns)
cb_categorical.columns = clean_up(cb_categorical.columns)

# Clean variables in codebook
cb_numeric["coded_name"] = clean_up(cb_numeric["coded_name"])
cb_categorical["coded_name"] = clean_up(cb_categorical["coded_name"])

In [ ]:
### TEMPORARY OBSERVATION
print(data.columns)
print(cb_numeric["coded_name"])
print(cb_categorical["coded_name"])

NameError: name 'data' is not defined

### Rename and define targets

I rename the target names to improve clarity and professionalism.

In [ ]:
TARGETS = {"depression": "ToDep", "ideation": "Suicide", "acculturative_stress": "ToAS"}

### Ensure consistency
Verify that codebook variables match the data column names exactly.

In [ ]:
codebook_cols_set = set(cb_numeric["coded_name"]) | set(cb_categorical["coded_name"])
variable_mismatch = set(data.columns) ^ codebook_cols_set
if len(variable_mismatch) == 0:
    print("All codebook variables and data columns match exactly.")
else:
    print(f"The following variables mismatch between codebook and data: {variable_mismatch}")

### Check datatypes
Need to confirm datatypes are correct and 0s are dealt with correctly.

### Aggregate codebook variables for analysis
Only keeps categorical variables that do not have a numeric equivalent.

In [ ]:
potential_numeric_vars = cb_numeric[["coded_name", "feature_score", "target_score", "filter_score"]]
potential_cat_vars = cb_categorical.loc[
    cb_categorical["numeric_version_exists"] == "N",
    ["coded_name", "feature_score", "target_score", "filter_score"],
]
potential_vars_df = pd.concat([potential_numeric_vars, potential_cat_vars], ignore_index=True)

### 5. Build feature list based on "Feature Score" attribute *

The survey data variables were given scores for their suitability for being a feature, target, or for filtering the data (to examine certain populations).

The rationale for the feature scores is based on ...

Based on the feature scores, the features are selected in the following cell.

In [ ]:
# build feature list per rules:
# include variables with feature_score==3, optionally include score==2 when toggle set
fs3 = set(potential_vars_df.loc[potential_vars_df["feature_score"] == 3, "coded_name"].tolist())
fs2 = set(potential_vars_df.loc[potential_vars_df["feature_score"] == 2, "coded_name"].tolist())
if INCLUDE_FSCORE2:
    features = fs3.union(fs2)
else:
    features = fs3.copy()

# remove any target columns
for col in TARGETS.values():
    features.discard(col)

# Ensure features and targets exist in data
assert all(feat in data.columns for feat in features), "Some candidate features not in data columns"

assert all(
    targ in data.columns for targ in TARGETS.values()
), "Some target variables not in data columns"

# Print features and how many
print("Number of features selected:", len(features))
print("Features selected:", features)

### split numeric vs categorical features (for ColumnTransformer)
[is this necessary?]

In [ ]:
numeric_features = [c for c in features if c in cb_numeric["coded_name"]]
cat_features = [c for c in features if c not in numeric_features]
print("Numeric features:", len(numeric_features))
print("Categorical features:", len(cat_features))

### EDA heatmap
Basic missingness and distributions

In [ ]:
# Summary of missing data
missing_summary = data[features + list(TARGETS.values())].isna().mean().sort_values(ascending=False)
display(missing_summary)

# Correlation heatmap for numeric features
corr = data[numeric_features + list(TARGETS.values())].corr().round(3)
plt.figure(figsize=(8, 6))
sns.heatmap(corr, cmap="vlag", center=0, annot=False)
plt.title("Numeric features correlation matrix")
plt.show()

## 3. Model Building

### Construct preprocessing pipelines (numeric + categorical)

In [ ]:
num_pipe = Pipeline([("imp", SimpleImputer(strategy="median")), ("sc", StandardScaler())])

cat_pipe = Pipeline(
    [
        ("imp", SimpleImputer(strategy="most_frequent")),
        ("ohe", OneHotEncoder(handle_unknown="ignore", sparse=False)),
    ]
)

preprocessor = ColumnTransformer(
    [("num", num_pipe, numeric_features), ("cat", cat_pipe, cat_features)], remainder="drop"
)

### Helper - get feature names after ColumnTransformer (for importance mapping)

In [ ]:
def get_feature_names_from_preprocessor(preprocessor):
    """Return list of feature names in the same order as transformed array columns"""
    feature_names = []
    for name, trans, cols in preprocessor.transformers_:
        if name == "remainder":
            continue
        if hasattr(trans, "named_steps"):
            # pipeline
            last = list(trans.named_steps.values())[-1]

            if hasattr(last, "get_feature_names_out"):
                fn = last.get_feature_names_out(cols)
                feature_names.extend(list(fn))
            else:
                feature_names.extend(list(cols))
        else:
            feature_names.extend(list(cols))
    return feature_names

### VIF function (run after fitting preprocessor)
Variance Inflation Factor (VIF) quantifies how much a regression coefficient’s variance is inflated due to multicollinearity. It is computed as $ 1/(1 - R^2) $, where $ R^2 $ comes from regressing one feature on all others.

In [ ]:
def compute_vif(preprocessor, X_df):
    """Transform and compute VIF on full preprocessed numeric matrix"""
    X_prep = preprocessor.fit_transform(X_df)
    X_arr = X_prep if isinstance(X_prep, np.ndarray) else X_prep.toarray()
    names = get_feature_names_from_preprocessor(preprocessor)
    vif_df = pd.DataFrame(
        {
            "feature": names,
            "VIF": [variance_inflation_factor(X_arr, i) for i in range(X_arr.shape[1])],
        }
    ).sort_values("VIF", ascending=False)
    return vif_df

### Modeling utilities - Cross-validation evaluation for regression and classification
OK up to and including this cell

In [ ]:
def evaluate_regression_scores(pipe, X, y, cv=5):
    kf = KFold(n_splits=cv, shuffle=True, random_state=RANDOM_STATE)
    r2 = cross_val_score(pipe, X, y, cv=kf, scoring="r2", n_jobs=-1)
    rmse = -cross_val_score(pipe, X, y, cv=kf, scoring="neg_root_mean_squared_error", n_jobs=-1)
    mae = -cross_val_score(pipe, X, y, cv=kf, scoring="neg_mean_absolute_error", n_jobs=-1)
    return {
        "r2_mean": r2.mean(),
        "r2_std": r2.std(),
        "rmse_mean": rmse.mean(),
        "rmse_std": rmse.std(),
        "mae_mean": mae.mean(),
        "mae_std": mae.std(),
    }


# MUST GO THROUGH THE BELOW STEP BY STEP.
def evaluate_classification_scores(pipe, X, y, cv=5):
    skf = StratifiedKFold(n_splits=cv, shuffle=True, random_state=RANDOM_STATE)
    roc = cross_val_score(pipe, X, y, cv=skf, scoring="roc_auc", n_jobs=-1)
    # PR-AUC approximate via precision_recall_curve on cross_val_predict
    prob = cross_val_predict(pipe, X, y, cv=skf, method="predict_proba", n_jobs=-1)
    # prob[:,1] exists when pipeline returns classifier with predict_proba
    # compute per-fold PR-AUC manually is expensive; approximate with full P-R curve
    pr, re, _ = precision_recall_curve(y, prob[:, 1])
    pr_auc_full = auc(re, pr)
    return {"roc_auc_mean": roc.mean(), "roc_auc_std": roc.std(), "pr_auc": pr_auc_full}

### Define models to run (regression and classification sets)

In [ ]:
regressors = {
    "OLS": LinearRegression(),
    "Ridge": Ridge(random_state=RANDOM_STATE),
    "Lasso": Lasso(random_state=RANDOM_STATE),
    "ElasticNet": ElasticNet(random_state=RANDOM_STATE),
    "RF": RandomForestRegressor(n_estimators=200, random_state=RANDOM_STATE),
    "XGB": xgb.XGBRegressor(random_state=RANDOM_STATE, verbosity=0),
}

classifiers = {
    "Logistic": LogisticRegression(max_iter=2000, random_state=RANDOM_STATE),
    # max_iter increased to ensure convergence
    "Logistic_EN": LogisticRegression(
        penalty="elasticnet", solver="saga", l1_ratio=0.5, max_iter=2000, random_state=RANDOM_STATE
    ),  # SAGA solver required for elasticnet
    "RF": RandomForestClassifier(n_estimators=200, random_state=RANDOM_STATE),
    "XGB": xgb.XGBClassifier(random_state=RANDOM_STATE, use_label_encoder=False, verbosity=0),
}

## 4. Running Models

### RUN MODELS - depression (regression target ToDep)

In [ ]:
target_col = TARGETS["depression"]
X = data[features].copy()
y = pd.to_numeric(data[target_col], errors="coerce").fillna(
    np.nan
)  ### What is this actually doing? Could this be done earlier on in the data cleaning step?
mask = y.notna()  ### This has to be done here, to not needlessly drop data
Xr = X.loc[mask].reset_index(drop=True)
yr = y.loc[mask].reset_index(drop=True)
### Same as above comment

reg_results = {}
for name, model in regressors.items():
    pipe = Pipeline([("pre", preprocessor), ("model", model)])
    result = evaluate_regression_scores(pipe, Xr, yr, cv=5)
    reg_results[name] = result
pd.DataFrame(reg_results).T

### Cell 16: RUN MODELS - suicidal ideation (classification target Suicide)

In [ ]:
target_col = TARGETS["ideation"]
X = data[features].copy()
y = (
    data[target_col]
    .astype(str)
    .str.lower()
    .map({"yes": 1, "y": 1, "1": 1, "true": 1, "no": 0, "n": 0, "0": 0, "false": 0})
    .fillna(0)
    .astype(int)
)  ### Could this be done earlier on in the data cleaning step?
mask = pd.notna(y)
Xc = X.loc[mask].reset_index(drop=True)
yc = y.loc[mask].reset_index(drop=True)
### Same as above comment


clf_results = {}
for name, model in classifiers.items():
    pipe = Pipeline([("pre", preprocessor), ("model", model)])
    result = evaluate_classification_scores(pipe, Xc, yc, cv=5)
    clf_results[name] = result
pd.DataFrame(clf_results).T